* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: sans-serif;
 background: #BDC3C7;
}
#contenedor {
 background: #E5E8E8;
 width: 1260px;
 margin: 20px auto;
 padding: 20px;
}
#logo {
text-align: center;
padding: 20px;
}
#menu {
 text-align: center;
 border-bottom: 1px solid #CCC;
 border-top: 1px solid #CCC;
 padding: 10px 0;
}
#menu a {
 text-decoration: none;
 font-size: 18px;
 padding: 10px 50px;
 color: #000;
}
#menu a:hover {
	background: #BDC3C7;
	color: #FFF;
}
#banner img {
 margin: 20px 0;
 width: 1220px;
}
#contenido h1 {
 padding-left: 35px
}
#contenido p {
font-size: 15.5px;
padding: 10px;
text-align: left;
padding-left: 35px
}
#contenido h2 {
 margin-bottom: 20px;  
}
#listas {
 padding-left: 50px
 }
 #texto {
 padding-left: 25px;
}
.caja_redes {
 background-color: #BDC3C7;
 border: 1px solid;
 padding: 20px 0;
 margin-top: 20px;
 width: 1220px;
 height: 80px;
 text-align: center;
}
.caja_redes a{
 text-decoration: none;
}
