*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: sans-serif;
 background: #2980B9;
}
#contenedor {
 background: #E7E7E5;
 padding: 20px;
 width: 960px;
 margin: 20px auto;
}
#logo {
 text-align: center;    
}
#titulo {
    text-align: center;
}
h1 {
 font-size: 50px;
 padding: 15px;
}
#menu {
 text-align: center;
 border-top: 1px solid;
 border-bottom: 1px solid;
 padding: 10px 0;
 /*border-left: 1px solid;*/
 /*border-right:1px solid;*/
}
#menu a {
 padding: 10px 40px;
 font-size: 19px;
 text-decoration: none;
 color: black;   
}
#menu a:hover {
 background: #2980B9;
 color: white;
}
#contenido img {
 height: 500px;
 position: relative;
 margin: 15px 0;
}
#contenido h2 {
padding-left: 50px;
text-align: center;
}
#contenido p {
 text-align: left;
 font-size: 17px;
 line-height: 1.50;
 padding-left: 50px;
 padding-right: 50px;
}
#texto {
 padding-left: 50px;
}
.caja_redes {
 background-color: #2980B9;
 border: 1px solid;
 padding: 20px 0;
 margin-top: 20px;
 width: 920px;
 height: 80px;
 text-align: center;
}
.caja_redes a{
 text-decoration: none;
}